<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method='POST' action='./' enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="text" name="user_id"><br>
        <input type="password" name="user_password"><br>
        <input type="file" name="user_profile_image"><br>
        <button>가입</button>
    </form>
</body>
</html>